* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background: linear-gradient(#ECB7FF 0%, #2E3C88 100%);
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  border-radius: 15px;

  width: 578px;
  height: 724px;

  background-color: hsla(0, 0%, 100%, 43%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 38%);
}

#logo {
  width: 140px;
  margin-top: 60px;
  margin-bottom: 40px;
}

h1 {
  cursor: default;
}

#botao-add-item {
  width: 300px;
  height: 40px;

  padding: 9px 0px 9px 0px;
  text-align: center;

  border: none;
  border-radius: 12px;

  margin-top: 40px;
  margin-bottom: 40px;

  background-color: rgba(148, 138, 255, 68%);
  box-shadow: 0 6px 1px rgba(0, 0, 0, 25%);
  color: white;
  font-weight: 700;

  cursor: pointer;
  transition: background 0.5s, transform 0.3s;
  text-decoration: none;
}

#item {
  display: flex;
  cursor: default;
}

#icons {
  display: flex;
  margin-left: 10px;
  gap: 5px;
}

#icon-rename,
#icon-delete {
  width: 20px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.3s;
}

#icon-rename:hover,
#icon-delete:hover {
  transform: scale(1.1);
  transition: transform 0.3s, filter 0.3s;
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

label {
  font-size: 14px;
  margin-bottom: 3px;
  margin-top: 15px;
  font-weight: 700;
  padding: 0px 5px;
}

input {
  width: 500px;
  height: 40px;

  border: 1px solid #E9EBFF;
  border-radius: 12px;
  color: #6A6A6A;

  padding: 5px 10px;
}

input:focus {
  outline: none;
}

#container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;

  margin-top: 25px;
}

#botao-voltar,
#botao-enviar {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  width: 235px;
  height: 40px;

  padding: 9px 0px 9px 0px;
  text-align: center;

  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 1px rgba(0, 0, 0, 25%);
  font-weight: 700;

  cursor: pointer;
  transition: background 0.5s, transform 0.3s;
}

#botao-voltar {
  text-decoration: none;
  background-color: rgba(148, 138, 255, 68%);
  color: white;
}

#botao-enviar {
  background-color: rgba(186, 179, 255, 0.68);
  font-weight: 700;
  color: black;
}

#botao-enviar:disabled {
  cursor: not-allowed;
}

#botao-voltar:hover,
#botao-add-item:hover {
  background-color: rgb(205, 201, 255);
  transform: scale(1.04);
  transition: background 0.5s, transform 0.3s;
}

#botao-enviar:hover {
  background-color: rgba(148, 138, 255, 88%);
  transform: scale(1.04);
  transition: background 0.3s, transform 0.2s;
}

#botao-voltar:active,
#botao-enviar:active,
#botao-add-item:active {
  transform: scale(0.99);
  transition: transform 0.3s;
}